<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー一覧画面</title>
</head>
<body>
<!--<table border="1" th:object="${usr}">-->
<!--		<tr th:each="user: *{userList}"align="center">-->
<!--			<td th:text="${user.firstname}"></td>-->
<!--			<td th:text="${user.lastname}"></td>-->
<!--			<td th:text="${user.phonenumber}"></td>-->
<!--			<td th:text="${user.mailaddress}"></td>-->
<!--			<td th:text="${user.address}"></td>-->
<!--	</tr>-->
<!--	</table>-->
</body>
</html>