<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規顧客登録</title>
</head>
<body>
	<form th:action="@{/admin/complete}" method="post" th:object="${guest}">
		<table border="1">
			<tr>
				<td><label>First Name</label></td>
				<td><input type="text"name="firstname" th:value="*{firstname}" /></td>
			</tr>
			<tr>
				<td><label>Last Name</label></td>
				<td><input type="text" name="lastname" th:value="*{lastname}" /></td>
			</tr>
			<tr>
				<td><label>phonenumber</label></td>
				<td><input type="text" name="phonenumber" th:value="*{phonenumber}" /></td>
			</tr>
			<tr>
				<td><label>mailaddress</label></td>
				<td><input type="text" name="mailaddress" th:value="*{mailaddress}" /></td>
			</tr>
		</table>
		<input type="submit" value="新規登録" />
		
		<a th:href="@{/guestForm}">戻る</a>
	</form>

</body>
</html>