<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規顧客登録</title>
</head>

<body>
	<form th:action="@{/guestsave}" method="post" th:object="${guestEditForm}">
		<table border="1">
			<tr>
				<td><label>お客様ID</label></td>
				<td><input type="text" name="guestcode" th:value="*{guestcode}" /></td>
				<td><span th:errors="*{guestcode}" style="color:red"></span></td>
			</tr>
			<tr>
				<td><label>First Name</label></td>
				<td><input type="text" name="firstname" th:value="*{firstname}" /></td>
				<td><span th:errors="*{firstname}" style="color:red"></span></td>
			</tr>
			<tr>
				<td><label>Last Name</label></td>
				<td><input type="text" name="lastname" th:value="*{lastname}" /></td>
				<td><span th:errors="*{lastname}" style="color:red"></span></td>
			</tr>
			<tr>
				<td><label>phonenumber</label></td>
				<td><input type="text" name="phonenumber" th:value="*{phonenumber}" /></td>
				<td><span th:errors="*{phonenumber}" style="color:red"></span></td>
			</tr>
			<tr>
				<td><label>mailaddress</label></td>
				<td><input type="text" name="mailaddress" th:value="*{mailaddress}" /></td>
				<td><span th:errors="*{phonenumber}" style="color:red"></span></td>
			</tr>
			<tr>
				<td><label>誕生日</label></td>
				<td><input type="date" name="dateofbirth" th:value="*{dateofbirth}" /></td>
				<td><span th:errors="*{dateofbirth}" style="color:red"></span></td>
			</tr>
			<tr>
				<td>住所</td>
				<td>
				<select name="address" th:field="${guestEditForm.address}">
					<option th:each="address:${guestEditForm.addressList}" th:value="${address.value}" th:text="${address.text}">
					</option>
				</select>
				<input type="hidden" th:field="${guestEditForm.addressList}" />
				</td>
			</tr>
		</table>
		<input type="submit" value="新規登録" />

	</form>
		<a th:href="@{/guestForm}">戻る</a>

</body>

</html>