<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Two Guest</title>
	<link th:href="@{/css/twoguest.css}" rel="styleSheet">
<!--	<link th:href="@{/css/white.css}" rel="styleSheet">-->
</head>

<body>
<div class="mv">
  <!--  メイン全体を囲うdiv  -->
  <div class="mv-wrap">
    <!--   薄いレイヤー   -->
    <div class="mv-bg"></div>
    <!--   videoタグ   -->
    <video id="video" webkit-playsinline="" playsinline="" muted="" autoplay="" loop=""
      src="/img/imgpicture/hana.mp4"></video>
    <!--   動画の上に載せるテキスト   -->
<!--    <p class="mv-txt">kasumiblog</p>-->
  </div>
</div>
	<table style="margin: 0 auto;" border="1" th:object="${guest}">
		<tr>
			<th align="center">
				<p>First Name</p>
			</th>
			<td th:text="*{firstname}" align="center"></td>
			<input type="hidden" name="firstname" th:value="*{firstname}"> 
			</tr>
			<tr>
			<th>
				<p>Last Name</p>
			</th>
			<td th:text="*{lastname}"></td>
			<input type="hidden" name="lastname" th:value="*{lastname}"> 
		</tr>
		<th>
			<p>電話番号　</p>
		</th>
		<td th:text="*{phonenumber}"></td>
			<input type="hidden" name="phonenumber" th:value="*{phonenumber}"> 
		</tr>
		<tr>
			<th>
				<p>生年月日　</p>
			</th>
			<td th:text="*{dateofbirth}"></td>
			<input type="hidden" name="dateofbirth" th:value="*{dateofbirth}"> 
		</tr>
		<tr>
			<th>
				<p>E-mail　</p>
			</th>
			<td th:text="*{mailaddress}"></td>
			<input type="hidden" name="mailaddress" th:value="*{mailaddress}"> 
		</tr>
	</table>

	</form>
	</form>
	</tr>
	</table>
<!--	<a th:href="@{/mainmenu}">メインメニューへ戻る</a>-->
	<a th:href="@{/mainmenu}" class="btn btn-border">メインメニューへ戻る</a>

</body>

</html>