<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>NewResavation</title>
</head>
<body>
	<form action="@{/newcomplete}" method="get" th:object="${reservation}">
		<table border="1">
			<tr>
				<td><label>性</label></td>
				<td><input type="text"name="firstname" th:value"*{guest.firstname}"></td>
			</tr>
			<tr>	
				<td><label>名</label></td>
				<td><input type="text"name="lastname" th:value"*{guest.lastname}"></td>
			</tr>
			<tr>
				<td><label>生年月日</label></td>
				<td><input type="text"name="arrday" th:value"*{arrday}"></td>
			</tr>
			<tr>
				<td><label>出発日</label></td>
				<td><input type="text"name="depday" th:value"*{depday}"></td>
			</tr>
			<tr>
				<td><label>プランコード</label></td>
				<td><input type="text"name="plancode" th:value"*{plan.plancode}"></td>
			</tr>
			<tr>
				<td><label>電話番号</label></td>
				<td><input type="text"name="phonenumber" th:value"*{guest.phonenumber}"></td>
			</tr>
			<tr>
				<td><label>部屋番号</label></td>
				<td><input type="text"name="roomnumber" th:value"*{number.roomnumber}"></td>
			</tr>
			<tr>
				<td><label>予約人数</label></th>
				<td><input type="text"name="persons" th:value"*{persons}"></td>
			</tr>
			
		</table>


	</form>

</body>
</html>