<!DOCTYPE html>
<html xmlns:th="http;//www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>予約登録</title>
</head>
<body>
	 
	
	   <img src="file:///C:/Users/3030667/git/GroupB/ReservationSystem/src/main/resources/static/picture/yakei1.jpg" alt="夜景" title="ホテルからの夜景">
		
		
		<form th:action="@{/endreservation}" method="post" th:object="${reservationEditForm}">
			
  
 
		<table border="1">
			<tr><td><label><b>プラン名</b></label></td>
				<td><input type="text" th:name="planName" th:value="*{plan.planName}" readonly/></td>
			</tr>	
			<tr>
				<td><label><b>宿泊人数</b></label></td>
				<td><input type="number" name="persons" th:value="*{persons}" min="1" max="4" required/></td>
				<td><span th:errors="*{persons}" style="color:red"></span></td>
				
			</tr>
			<tr>
				<td><label><b>チェックイン</b></label></td>
				<td><input type="date" name="arrday" th:value="*{arrday}" required/></td>
				<td><span th:errors="*{arrday}" style="color:red"></span></td>
			</tr>
			<tr>
				<td><label><b>チェックアウト</b></label></td>
				<td><input type="date" name="depday" th:value="*{depday}" required/></td>
				<td><span th:errors="*{depday}" style="color:red"></span></td>
			</tr>
			<tr>
				<td><label><b>お客様ID</b></label></td>
				<td><input type="text" th:name="guestcode" th:value="*{guestcode}" required/></td>
				<td><span th:errors="*{guestcode}" style="color:red"></span></td>
			</tr>
			<tr>
				<td><label><b>苗字</b></label></td>
				<td><input type="text" th:name="firstname" th:value="*{firstname}" required/></td>
				<td><span th:errors="*{firstname}" style="color:red"></span></td>
			</tr>
			<tr>
				<td><label><b>名前</b></label></td>
				<td><input type="text" th:name="lastname" th:value="*{lastname}" required/></td>
				<td><span th:errors="*{lastname}" style="color:red"></span></td>
			</tr>
			<tr>
				<td><label><b>誕生日</b></label></td>
				<td><input type="date" name="dateofbirth" th:value="*{dateofbirth}" required/></td>
				<td><span th:errors="*{dateofbirth}" style="color:red"></span></td>
			</tr>
			<tr>
				<td><label><b> 電話番号(ハイフンなし)</b></label></td>
				<td><input type="tel" pattern="[\d]{10,}" name="phonenumber" th:value="*{phonenumber}" required/></td>
				<td><span th:errors="*{phonenumber}" style="color:red"></span></td>
			</tr>
		     <tr>
				<td><b>住所</b>
				</td>
				<td>
				<select name="address" th:field="${reservationEditForm.address}">
					<option th:each="address:${reservationEditForm.addressList}" th:value="${address.value}" th:text="${address.text}">
					</option>
				</select>
				<input type="hidden" th:field="${reservationEditForm.addressList}" />
				</td>
				<td><span th:errors="*{address}" style="color:red"></span></td>
			</tr>
			<tr>
				<td><label><b>メールアドレス</b></label></td>
				<td><input type="email" name="mailaddress" th:value="*{mailaddress}" required/></td>
				<td><span th:errors="*{mailaddress}" style="color:red"></span></td>
			</tr>
		</table>
		<input type="submit" value="予約" />
				<input type="hidden" th:name="planCode" th:value="*{plan.planCode}">
	</form>
<!--<html>-->
<!--<head>-->
<!--    <title>Registration View</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Registration Details</h1>-->
<!--    <p>Guest Code: ${register.guestcode}</p>-->
<!--    <p>Plan Code: ${register.plan.planCode}</p>-->
<!--    <p>Plan Name: ${register.plan.planName}</p>-->
<!--     他の情報があればここに表示する -->
<!--</body>-->
<!--</html>-->
<!--15:08-->



	

</body>
</html>