<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Reserve Search</title>
</head>

<body>
<!--	<form th:action="@{/result}" method="post" th:object="${reservation}">
		<table border="1">
			<tr>
				<td><label>FirstName</label></td>
				<td><input type="text" name="*{guest.firstname}" /></td>
			</tr>
			<tr>
				<td><label><b>FirstName</b></label></td>
				<td><input type="text" name="*{guest.firstname}" /></td>
			</tr>
			<tr>
				<td><label><b>LastName</b></label></td>
				<td><input type="text" name="*{guest.lastname}" /></td>
			</tr>
		</table>
		<input type="submit" value="確認" />
	</form>
-->
	
	<table border="1" th:object="${reservationForm}">
		<tr>
			<th>姓(Last Name)</th>
			<th>名(First Name)</th>
			<th>予約番号</th>
			<th>到着日</th>
			<th>　　</th>
		</tr>
		<tr th:each="reservation,stat : *{reservationList}" align="center">
			<form th:action="@{/bookingdetails}" method="get">
				<td th:text="${reservation.guest.firstname}"></td>
				<td th:text="${reservation.guest.lastname}"></td>
				<td th:text="${reservation.resnumber}" align="right"></td>
				<td th:text="${reservation.arrday}" align="right"></td>
				<td><input type="submit" value="詳細を表示" /></td>
				<input type="hidden" name="reservation" th:value="${reservation.resnumber}" />
			</form>
		</tr>
	</table>
		<a th:href="@{/mainmenu}">メインメニューへ戻る</a>
</body>

</html>