<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Reserve Search</title>
	<link th:href="@{/css/yoyaku.css}" rel="styleSheet">
</head>

<body>
				<div>予約件数：[[${total}]]</div>
	<Form th:action="@{/ressearch}" method="post">
		<label>到着日：</label>
		<input type="date" th:name="arrayday"th:value="${arrayday}" >
		<label>出発日：</label>
		<input type="date" th:name="depday"th:value="${depday}">
		<button>検索</button>
		<input type="hidden" th:field="${reservationForm}">
	</Form>
	
	<table style="margin: 0 auto;" border="1" th:object="${reservationForm}">
		<tr>
			<th>姓(Last Name)</th>
			<th>名(First Name)</th>
			<th>予約番号</th>
			<th>到着日</th>
			<th>　　</th>
		</tr>
		<tr th:each="reservation,stat : *{reservationList}" align="center">
			<form th:action="@{/bookingdetails}" method="get">
				<td th:text="${reservation.guest.firstname}"></td>
				<td th:text="${reservation.guest.lastname}"></td>
				<td th:text="${reservation.resnumber}" align="right"></td>
				<td th:text="${reservation.arrday}" align="right"></td>
				<td><input type="submit" value="詳細を表示" /></td>
				<input type="hidden" name="reservation" th:value="${reservation.resnumber}" />
			</form>
		</tr>
		
	</table>
		<a th:href="@{/mainmenu}">メインメニューへ戻る</a>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<img th:src="@{./img/imgpicture/puff.gif}" alt="new jeans" align="center">
</body>

</html>