<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Reserve Search</title>
	<link th:href="@{/css/yoyaku.css}" rel="styleSheet">
</head>

<body>

	<table style="margin: 0 auto;" border="1" th:object="${reservationForm}">
		<tr>
			<th>姓(Last Name)</th>
			<th>名(First Name)</th>
			<th>予約番号</th>
			<th>到着日</th>
			<th>　　</th>
		</tr>
		<tr th:each="reservation,stat : *{reservationList}" align="center">
			<form th:action="@{/bookingdetails}" method="get">
				<td th:text="${reservation.guest.firstname}"></td>
				<td th:text="${reservation.guest.lastname}"></td>
				<td th:text="${reservation.resnumber}" align="right"></td>
				<td th:text="${reservation.arrday}" align="right"></td>
				<td><input type="submit" value="編集" /></td>
				<input type="hidden" name="reservation" th:value="${reservation.resnumber}" />
			</form>
		</tr>
	</table>
		<a th:href="@{/mainmenu}">メインメニューへ戻る</a>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<img th:src="@{./img/imgpicture/puff.gif}" alt="new jeans" align="center">
</body>

</html>