<!DOCTYPE html>
<html xmlns:th="http;//www.thymeleaf.org">
<head >
<meta charset="UTF-8">
<title>詳細</title>
</head >
<body>
<figure>
<img src="file:///C:/Users/3030667/git/GroupB/ReservationSystem/src/main/resources/static/picture/yukata1.jpg" alt="写真1">
<figcaption>浴衣は250種類以上ある中から、お気に入りの浴衣に着替えていただきます。</figcaption>
</figure>	
<figure>	
  <img src="file:///C:/Users/3030667/git/GroupB/ReservationSystem/src/main/resources/static/picture/yukata2.jpg" alt="写真2">
  <figcaption>水族館のチケット付き。幻想的で涼しい水族館にお出かけいただけます。</figcaption>
  </figure>
  <figure>
  <img src="file:///C:/Users/3030667/git/GroupB/ReservationSystem/src/main/resources/static/picture/yukata3.jpg" alt="写真3">
  <figcaption> 素敵な浴衣を選んではお持ち帰りください。</figcaption>
  </figure>
  <figure>
   <img src="file:///C:/Users/3030667/git/GroupB/ReservationSystem/src/main/resources/static/picture/yukata4.jpg" alt="写真3">
   <figcaption>旅の思い出に浴衣お出かけくださいで </figcaption>
  </figure>
  
  <!-- 追加の写真をここに追加 -->
	

	<style>
  .photo-flexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .photo-flexbox img {
    flex: 0 0 calc(50.33% - 10px); /* 3列になるように調整 */
    max-width: 100%;
    height: auto;
  }
</style>





</body>
</html>