<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>AdminMenu</title>
</head>
<body>
	<a th:href="@{/admin/signup}"><b>ユーザー検索</b></a>
	<br />
	<a th:href="@{/admin/planform}"><b>顧客検索</b></a>
	<br />
	<a th:href="@{/admin/reservationform}"><b>客室状況</b></a>
	<br />
		<a th:href="@{/admin/plan}"><b>Plan</b></a>
	<br />
	<a th:href="@{/admin/newplan}"><b>NewPlan</b></a>
	<br />
	<a th:href="@{/admin/user}"><b>ユーザー一覧画面</b></a>
	<br />
	<a th:href="@{/admin/newuser}"><b>ユーザー登録画面</b></a>
	<br />
</body>
</html>