<!DOCTYPE html>
<html xmlns:th="http;//www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>BookingDetails</title>
	<link th:href="@{/css/booking.css}" rel="styleSheet">
</head>
<style>
.example{
    border-width: 3px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}
</style>
<body>
	<div class="mv">
  <!--  メイン全体を囲うdiv  -->
  <div class="mv-wrap">
    <!--   薄いレイヤー   -->
    <div class="mv-bg"></div>
    <!--   videoタグ   -->
    <video id="video" webkit-playsinline="" playsinline="" muted="" autoplay="" loop=""
      src="/img/imgpicture/hugu.mp4"></video>
    <!--   動画の上に載せるテキスト   -->
<!--    <p class="mv-txt">kasumiblog</p>-->
  </div>
</div>
	<form th:action="@{bookingdetails}" method="post" th:object="${reservation}">
		<table style="margin: 0 auto;" border="1" class="example">
			<tr>
				<th align="center"	><p>First Name</p></th>
				<td th:text="*{guest.firstname}" align="center"></td>
			</tr>
			<tr>	
				<th><p>Last Name</p></th>
				<td th:text="*{guest.lastname}"></td>
			</tr>
			<tr>
				<th><p>予約番号　</p></th>
				<td th:text="*{resnumber}"></td>

			</tr>
			<tr>
				<th><p>到着日　</p></th>
				<td th:text="*{arrday}"></td>
			</tr>
			<tr>
				<th><p>出発日　</p></th>
				<td th:text="*{depday}"></td>
			</tr>
			<tr>
				<th><p>プランコード　</p></th>
				<td th:text="*{plan.plancode}"></td>
			</tr>
			<tr>
				<th><p>電話番号　</p></th>
				<td th:text="*{guest.phonenumber}"></td>
			</tr>
			<tr >
				<th><p>部屋タイプ</p></th>
				<td>
				<select th:name="roomnumber" th:field="${reservation.roomnumber}">
					<option th:each="room : ${roomList}"th:value="${room.roomnumber}"  
						selected="${room.roomnumber} == *{roomnumber}">[[${room.roomname}]]
					</option>
					<input type="hidden" th:value="*{roomnumber}" >
				</select>
				</td>
			</tr>
			<tr>
				<th><p>予約人数　</p></th>
				<td th:text="*{persons}"></td>
			</tr>
			
			<tr>
			<td><button>部屋タイプを変更する</button></td>
			<input type="hidden" th:field="${reservation.guestcode}">	
			<input type="hidden" th:field="${reservation.resnumber}">	
			<input type="hidden" th:field="${reservation.plancode}">	
				</tr>
		</table>

	</form>
	<a th:href="@{/mainmenu}">メインメニューへ戻る</a>

</html>