<!DOCTYPE html>
<html xmlns:th="http;//www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>BookingDetails</title>
</head>

<body>
	<form action="@{/reservation}" method="get" th:object="${reservation}">
		<table border="1">
			<tr>
				<th align="center"	><p>性</p></th>
				<td th:text="*{guest.firstname}" align="center"></td>
				
				<th><p>名　　　　　</p></th>
				<td th:text="*{guest.lastname}"></td>
			</tr>
			<tr>
				<th><p>予約番号　</p></th>
				<td th:text="*{resnumber}"></td>
			</tr>
			<tr>
				<th><p>到着日　</p></th>
				<td th:text="*{arrday}"></td>
			</tr>
			<tr>
				<th><p>出発日　</p></th>
				<td th:text="*{depday}"></td>
			</tr>
			<tr>
				<th><p>プランコード　</p></th>
				<td th:text="*{plan.plancode}"></td>
			</tr>
			<tr>
				<th><p>電話番号　</p></th>
				<td th:text="*{guest.phonenumber}"></td>
			</tr>
			<tr>
				<th><p>部屋番号　</p></th>
				<td th:text="*{number.roomnumber}"></td>
			</tr>
			<tr>
				<th><p>予約人数　</p></th>
				<td th:text="*{persons}"></td>
			</tr>
			
		</table>

	</form>
	<a th:href="@{/mainmenu}">メインメニューへ戻る</a>

</html>