<!DOCTYPE html>
<html xmlns:th="http;//www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Guest Form</title>
	<link th:href="@{Main.css}" rel="styleSheeet">
</head>

<body>
	<table border="1" th:object="${guestForm}">
		<tr>
			<th>姓(Last Name)</th>
			<th>名(First Name)</th>
			<th>電話番号</th>
			<th>E-mail</th>
			<th>住所</th>
		</tr>
		
		<tr th:each="guest: *{guestList}" align="center">
			<form th:action="@{/twoguest}" method="get">
			<td th:text="${guest.firstname}"></td>
			<td th:text="${guest.lastname}"></td>
			<td th:text="${guest.phonenumber}"></td>
			<td th:text="${guest.mailaddress}"></td>
			<td th:text="${guest.address.text}"></td>
			<td><input type="submit" value="詳細" /></td>
				<input type="hidden" name="guest" th:value="${guest.guestcode}" />
			</form>
			<td><form th:action="@{/newreservationview}" method="get">
			<input type="submit" value="予約作成" />
				<input type="hidden" name="guest" th:value="${guest.guestcode}" />
				</form></td>
	</table>
	<a th:href="@{/one}">新規登録を行う</a>
		<a th:href="@{/mainmenu}">メインメニューへ戻る</a>
</body>

</html>