<!DOCTYPE html>
<html xmlns:th="http;//www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>プラン一覧</title>
</head>
<body>
	
	
	<table border="1">
		<tr>
			
			<th>プラン</th>
			<th>イメージ</th>					
<!--			<th>内容</th>-->
			<th>予約</th>
			<th>詳細</th>
		</tr>
		<tr>
		</tr>
		<tr th:each="plan: ${planlist}" align="center" >
			<form th:action="@{register}" method="post">
				<td th:text="${plan.planname}"></td>
<!--				<td><img th:src="@{./picture/{item} (item=${plan.jpg.jpg1})}"></td>-->
				<td th:text="${plan.remarks}"></td>
				
				<td><input type="submit" value="予約" /></td>
				
                <td><input type="submit" value="詳細" /></td>
			</form>
		</tr>
	</table>
		

</body>
</html>