<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MainMenu</title>
<link th:href="@{/css/login.css}" rel="styleSheet">
</head>
<body>
	<div sec:authorize="${hasRole('ADMIN')}"><a th:href="@{'/admin/menu'}" >管理画面</a></div>
	
	<a th:href="@{/reservation}"><b>予約検索</b></a>
	<br />
	<a th:href="@{/guestForm}"><b>顧客検索</b></a>
	<br />
	<a th:href="@{/roominformation}"><b>客室状況</b></a>
	<br />
	<a th:href="@{/bookingdetails}"><b>予約詳細情報</b></a>
	<br />
	<a th:href="@{/twoguest}"><b>Two Guest</b></a>
	<br />
	<a th:href="@{/one}"><b>one</b></a>
	<br />
	<a th:href="@{/bookingdetails}"><b>ゲスト詳細画面</b></a>
	<br />
</body>
</html>